{% extends 'base/base.html' %}
{% load blog %}


{% block content %}
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 order-md-1 order-2">
                    {% sidebar %}
                </div>
                <div class="col-lg-8 col-md-7 order-md-1 order-1">
                    <div class="blog__details__text">
                        <h2 style="margin-bottom: 20px;">{{ post.title }}</h2>
                        <img style="width: 100%" src="{{ MEDIA_URL }}{{ post.image.url }}" alt="">
                        {{ post.text }}
                    </div>
                    <div class="blog__details__content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <img src="{{ MEDIA_URL }}{{ post.author.image.url }}" alt="">
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h6>{{ post.author.first_name }} {{ post.author.last_name }}</h6>
                                        <span>{{ post.author.user.username }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__widget">
                                    <ul>
                                        <li><span>Категория:</span> {{ post.category }}</li>
                                        <li><span>Теги:</span> {% for tag in post.tags.all %}
                                            {{ tag.name }} {% endfor %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Related Blog Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related-blog-title">
                        <h2>Ещё вам понравится</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for related_post in related_posts %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{{ MEDIA_URL }}{{ related_post.image.url }}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{ related_post.created_at|date:"M j,Y" }}</li>
                                </ul>
                                <h5><a href="{% url 'post_detail' related_post.slug %}">{{ related_post.title }}</a></h5>
                                <p>{{ related_post.sub_title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Related Blog Section End -->
{% endblock %}