{% extends 'base/base.html' %}
{% load blog %}


{% block content %}
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    {% sidebar %}
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="row">
                        {% for post in page.object_list %}
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic">
                                        <img src="{{ MEDIA_URL }}{{ post.image.url }}" alt="">
                                    </div>
                                    <div class="blog__item__text">
                                        <ul>
                                            <li><i class="fa fa-calendar-o"></i> {{ post.created_at|date:"M j,Y" }}</li>
                                        </ul>
                                        <h5><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h5>
                                        <p>{{ post.sub_title }}</p>
                                        <a href="{% url 'post_detail' post.slug %}" class="blog__btn">Читать <span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-lg-12">
                            <div class="product__pagination  blog__pagination">
                                {% if page.has_previous %}
                                    <a href="{{ request.get_full_path }}&page={{ page.previous_page_number }}"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                {% endif %}

                                {% for p in page.paginator.page_range %}
                                    <a href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                                {% endfor %}

                                {% if page.has_next %}
                                    <a href="{{ request.get_full_path }}&page={{ page.next_page_number }}"><i
                                            class="fa fa-long-arrow-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}