<div class="blog__sidebar">
    <div class="blog__sidebar__item">
        <h4>Категории</h4>
        <ul>
            <li><a href="{% url 'blog_index' %}?category_slug=all">Все</a></li>
            {% for category in categories %}
                <li><a href="{% url 'blog_index' %}?category_slug={{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="blog__sidebar__item">
        <h4>Недавние посты</h4>
        <div class="blog__sidebar__recent">
            {% for recently_added_post in recently_added_posts %}
                <a href="{% url 'post_detail' recently_added_post.slug %}" class="blog__sidebar__recent__item">
                    <div class="blog__sidebar__recent__item__pic">
                        <img src="{{ MEDIA_URL }}{{ recently_added_post.image.url }}" alt="">
                    </div>
                    <div class="blog__sidebar__recent__item__text">
                        <h6>{{ recently_added_post.title }}</h6>
                        <span>{{ recently_added_post.created_at|date:"M j,Y" }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>