{% extends 'base/base.html' %}

{% block content %}
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Телефон</h4>
                        <p>{{ info.phone }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Адрес</h4>
                        <p>{{ info.address }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Время работы</h4>
                        <p>С {{ info.start_work_time|time:"H:i" }} до {{ info.end_work_time|time:"H:i" }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Почта</h4>
                        <p>{{ info.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Оставить сообщение</h2>
                    </div>
                </div>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    {% if account %}
                        <div class="col-lg-6 col-md-6">
                            <input type="text" placeholder="Ваше имя" name="name"
                                   value="{{ account.first_name }} {{ account.last_name }}">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <input type="email" placeholder="Ваш email" name="email" value="{{ user.email }}">
                        </div>
                    {% else %}
                        <div class="col-lg-6 col-md-6">
                            <input type="text" placeholder="Ваше имя" name="name">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <input type="email" placeholder="Ваш email" name="email">
                        </div>
                    {% endif %}
                    <div class="col-lg-12 text-center">
                        <textarea placeholder="Ваше сообщение" name="text"></textarea>
                        <button type="submit" class="site-btn">Написать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}