{% extends 'base/base.html' %}
{% load mathfilters %}


{% block content %}
    <!-- Shoping Cart Section Begin -->
    {% if cart_items %}
        <section class="shoping-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shoping__cart__table">
                            <table>
                                <thead>
                                <tr>
                                    <th class="shoping__product">Продукт</th>
                                    <th>Цена</th>
                                    <th>Количество</th>
                                    <th>Итого</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cart_item in cart_items %}
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="product_id" value="{{ cart_item.id }}"
                                               style="visibility: hidden">
                                        <tr>
                                            <td class="shoping__cart__item">
                                                <img src="{{ MEDIA_URL }}{{ cart_item.product.image.url }}" alt=""
                                                     style="width: 200px; height: 200px">
                                                <h5>{{ cart_item.product.name }}</h5>
                                            </td>
                                            <td class="shoping__cart__price">
                                                {% if cart_item.product.is_sale %}
                                                    ₽ {{ cart_item.product.sale_price }}
                                                {% else %}
                                                    ₽ {{ cart_item.product.price }}
                                                {% endif %}
                                            </td>
                                            <td class="shoping__cart__quantity">
                                                <div class="quantity">
                                                    {{ cart_item.quantity }}
                                                </div>
                                            </td>
                                            <td class="shoping__cart__total">
                                                {% if cart_item.product.is_sale %}
                                                    ₽ {{ cart_item.product.sale_price|mul:cart_item.quantity }}
                                                {% else %}
                                                    ₽ {{ cart_item.product.price|mul:cart_item.quantity }}
                                                {% endif %}
                                            </td>
                                            <td class="shoping__cart__item__close">
                                                <button type="submit" style="border: none; background: transparent">
                                                    <span class="icon_close"></span></button>
                                            </td>
                                        </tr>
                                    </form>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shoping__checkout">
                            <h5>К оплате</h5>
                            <ul>
                                <li>Итого <span>₽ {{ total_sum }}</span></li>
                            </ul>
                            <a href="{% url 'checkout' %}" class="primary-btn">К оплате</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <h3>Пока вы ничего не добавили :(</h3>
    {% endif %}
    <!-- Shoping Cart Section End -->
{% endblock %}