{% extends 'base/base.html' %}


{% block content %}
    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Детали доставки</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Имя<span>*</span></p>
                                        <input type="text" name="first_name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Фамилия<span>*</span></p>
                                        <input type="text" name="last_name">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Адресс<span>*</span></p>
                                <input type="text" placeholder="Улица" class="checkout__input__add" name="street">
                                <input type="text" placeholder="Номер дома или квартиры" name="house">
                            </div>
                            <div class="checkout__input">
                                <p>Город<span>*</span></p>
                                <input type="text" name="city">
                            </div>
                            <div class="checkout__input">
                                <p>Почтовый индекс<span>*</span></p>
                                <input type="text" name="post_index">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Телефон<span>*</span></p>
                                        <input type="text" name="phone_number">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Комменарии к доставке<span>*</span></p>
                                <input type="text"
                                       placeholder="Комментарий" name="comment">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Ваш заказ</h4>
                                <div class="checkout__order__products">Продукты <span>Сумма</span></div>
                                <ul>
                                    {% for cart_item in cart_items %}
                                        <li>{{ cart_item.product.name }}
                                            {% if cart_item.product.is_sale %}
                                                <span>₽  {{ cart_item.product.sale_price }} x {{ cart_item.quantity }}</span>
                                            {% else %}
                                                <span>₽  {{ cart_item.product.price }} x {{ cart_item.quantity }}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="checkout__order__subtotal">Итого <span>₽ {{ total_sum }}</span></div>
                                <div class="checkout__order__total">К оплате <span>₽ {{ total_sum }}</span></div>
                                <h4 style="font-size: 18px; border: none; padding-bottom: 10px; margin-bottom: 10px;">
                                    Способы оплаты</h4>
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Наличными
                                        <input type="checkbox" name="payment_type" value="cash" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Переводом
                                        <input type="checkbox" name="payment_type" value="transfer" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button type="submit" class="site-btn">Заказать</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
{% endblock %}