{% extends 'base/base.html' %}


{% block content %}
    <div class="container">
        <div class="section-title related__product__title">
            <h2>Избранные продукты</h2>
        </div>

        <div class="row">
            {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                             data-setbg="{{ MEDIA_URL }}{{ product.product.image.url }}">
                        </div>
                        <div class="product__item__text">
                            <h6>
                                <a href="{% url 'product_detail' slug=product.product.slug %}">{{ product.product.name }}</a>
                            </h6>
                            {% if product.product.is_sale %}
                                <h5 style="text-decoration: line-through; color: #dd2222; font-size: 16px;">
                                    ₽ {{ product.product.price }}</h5>
                                <h5>₽ {{ product.product.sale_price }}</h5>
                            {% else %}
                                <h5>₽ {{ product.product.price }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}