{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Лучшие продукты</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Все</li>
                            {% for category in categories %}
                                <li data-filter=".{{ category.slug }}">{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% for product in rated_products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mix {{ product.category.slug }}">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="{{ MEDIA_URL }}{{ product.image.url }}">
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="{% url 'product_detail' slug=product.slug %}">{{ product.name }}</a></h6>
                                {% if product.is_sale %}
                                    <h5 style="text-decoration: line-through; color: #dd2222; font-size: 16px;">
                                        ₽ {{ product.price }}</h5>
                                    <h5>₽ {{ product.sale_price }}</h5>
                                {% else %}
                                    <h5>₽ {{ product.price }}</h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Недавние продукты</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for product in last_added_products %}
                                    <a href="{% url 'product_detail' slug=product.slug %}" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="{{ MEDIA_URL }}{{ product.image.url }}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>{{ product.name }}</h6>
                                            {% if product.is_sale %}
                                                <h5 style="text-decoration: line-through; color: #dd2222; font-size: 16px;">
                                                    ₽ {{ product.price }}</h5>
                                                <h5>₽ {{ product.sale_price }}</h5>
                                            {% else %}
                                                <h5>₽ {{ product.price }}</h5>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Популярные продукты</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for product in rated_products %}
                                    <a href="{% url 'product_detail' slug=product.slug %}" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="{{ MEDIA_URL }}{{ product.image.url }}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>{{ product.name }}</h6>
                                            {% if product.is_sale %}
                                                <h5 style="text-decoration: line-through; color: #dd2222; font-size: 16px;">
                                                    ₽ {{ product.price }}</h5>
                                                <h5>₽ {{ product.sale_price }}</h5>
                                            {% else %}
                                                <h5>₽ {{ product.price }}</h5>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Обсуждаемые продукты</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for product in popular_products %}
                                    <a href="{% url 'product_detail' slug=product.slug %}" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="{{ MEDIA_URL }}{{ product.image.url }}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>{{ product.name }}</h6>
                                            {% if product.is_sale %}
                                                <h5 style="text-decoration: line-through; color: #dd2222; font-size: 16px;">
                                                    ₽ {{ product.price }}</h5>
                                                <h5>₽ {{ product.sale_price }}</h5>
                                            {% else %}
                                                <h5>₽ {{ product.price }}</h5>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>Последние посты</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{{ MEDIA_URL }}{{ post.image.url }}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{ post.created_at|date:"M j,Y" }}</li>
                                </ul>
                                <h5><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                                </h5>
                                <p>{{ post.sub_title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock %}
