{% extends 'base/base.html' %}
{% load static %}
{% load filter %}

{% block content %}
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 src="{{ MEDIA_URL }}{{ product.image.url }}" alt="">
                            {% if product.is_sale %}
                                <div class="product__discount__percent">{{ product|sale_value }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ product.name }}</h3>
                        <div class="product__details__rating">
                            {% for i in "*****" %}
                                {% if forloop.counter <= stars_count %}
                                    <i class="fa fa-star"></i>
                                {% else %}
                                    <i class="fa fa-star-o"></i>
                                {% endif %}
                            {% endfor %}
                            <span>({{ reviews_count }} отзывов)</span>
                        </div>
                        {% if product.is_sale %}
                            <div class="product__details__price"
                                 style="text-decoration: line-through; font-size: 24px; margin-bottom: 0;">
                                ₽ {{ product.price }}</div>
                            <div class="product__details__price">₽ {{ product.sale_price }}</div>
                        {% else %}
                            <div class="product__details__price">₽ {{ product.price }}</div>
                        {% endif %}
                        <p>{{ product.description }}</p>
                        <ul>
                            <li>
                                <b>В наличии</b>
                                {% if product.availability %}
                                    <span>Да</span>
                                {% else %}
                                    <span>Нет</span>
                                {% endif %}
                            </li>
                            <li><b>Вес</b> <span>{{ product.weight }} кг</span></li>
                            <li><b>Категория</b> <span>{{ product.category.name }}</span></li>
                        </ul>
                        {% if user.is_authenticated %}
                            <div style="display: flex; align-items: center;">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="product__details__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" name="quantity" value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="primary-btn" style="border: none" value="В корзину"/>
                                </form>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input id="is_favorite" type="checkbox" name="is_favorite"
                                           {% if is_favorite %}checked{% else %}{% endif %}
                                           style="position: absolute; left: 0; top: 0; visibility: hidden;">
                                    <button class="heart-icon" style="position:relative; border: none; height: 52px; width: 52px; margin-bottom: 3px;"
                                            onclick="toggle_favorite()"><span
                                            class="{% if is_favorite %}icon_heart{% else %}icon_heart_alt{% endif %}"></span><input
                                            type="submit"
                                            style="position: absolute; top: 0; left: 0; width: 50px; height: 40px; visibility: hidden;">
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                   aria-selected="true">Описание</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                   aria-selected="false">Отзывы <span>({{ reviews_count }})</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    {{ product.description }}
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    {% if reviews_count != 0 %}
                                        {% for review in reviews %}
                                            <div class="product__review__item">
                                                <div class="product__review__item__pic">
                                                    <img src="{{ MEDIA_URL }}{{ review.author.image.url }}"
                                                         alt="profile_icon"/>
                                                </div>
                                                <div class="product__review__item__text">
                                                    <h6>{{ review.author }}</h6>
                                                    {% for i in "*****" %}
                                                        {% if forloop.counter <= review.stars_count %}
                                                            <i class="fa fa-star"></i>
                                                        {% else %}
                                                            <i class="fa fa-star-o"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <p>{{ review.text }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <h3>Отзывы ещё не написали ;)</h3>
                                    {% endif %}

                                    {% if user.is_authenticated %}
                                        <form action="" method="post" style="display: flex; flex-direction: column;">
                                            {% csrf_token %}
                                            <textarea type="text" name="text" placeholder="Ваше мнение"></textarea>
                                            <input type="number" name="stars_count" min="1" max="5"
                                                   placeholder="кол-во звёзд">
                                            <button type="submit">Отправить</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Похожие продукты</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in related_products %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{ MEDIA_URL }}{{ product.image.url }}">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{% url 'product_detail' slug=product.slug %}">{{ product.name }}</a></h6>
                                <h5>₽ {{ product.price }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script>
        function toggle_favorite() {
            let is_favorite = document.querySelector('#is_favorite').checked;
            document.querySelector('#is_favorite').checked = !is_favorite;
        }
    </script>
{% endblock %}