{% extends 'base/base.html' %}
{% load filter %}

{% block content %}
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="sidebar__item">
                                <h4>Категории</h4>
                                <ul>
                                    {% for category in categories %}
                                        <li>
                                            <label for="{{ category.name }}">
                                                {% if category.name == filters.category %}
                                                    <input type="checkbox" name="category" value="{{ category.name }}"
                                                           id="{{ category.name }}" checked>
                                                {% else %}
                                                    <input type="checkbox" name="category" value="{{ category.name }}"
                                                           id="{{ category.name }}">
                                                {% endif %}
                                                {{ category.name }}
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="sidebar__item">
                                <h4>Цена</h4>
                                <div class="price-range-wrap">
                                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                         data-min="100" data-max="600">
                                        <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                        <span tabindex="0"
                                              class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                        <span tabindex="0"
                                              class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    </div>
                                    <div class="range-slider">
                                        <div class="price-input">
                                            <input type="text" name="min_price" id="minamount"
                                                   value="{{ filters.price.min }}">
                                            <input type="text" name="max_price" id="maxamount"
                                                   value="{{ filters.price.max }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar__item sidebar__item__color--option">
                                <h4>Цвета</h4>
                                {% for color in colors %}
                                    <div class="sidebar__item__color sidebar__item__color--{{ color.0 }}">
                                        <label for="{{ color.0 }}">
                                            {{ color.1 }}
                                            {% if color.0 == filters.color %}
                                                <input type="checkbox" name="color" value="{{ color.0 }}"
                                                       id="{{ color.0 }}" checked>
                                            {% else %}
                                                <input type="checkbox" name="color" value="{{ color.0 }}"
                                                       id="{{ color.0 }}">
                                            {% endif %}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="sidebar__item">
                                <h4>Размеры</h4>
                                {% for size in sizes %}
                                    <div class="sidebar__item__size">
                                        <label for="{{ size.0 }}">
                                            {{ size.1 }}
                                            {% if size.0 == filters.size %}
                                                <input type="checkbox" name="size" value="{{ size.0 }}"
                                                       id="{{ size.0 }}" checked>
                                            {% else %}
                                                <input type="checkbox" name="size" value="{{ size.0 }}"
                                                       id="{{ size.0 }}">
                                            {% endif %}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="sidebar__item">
                                <input type="submit" value="Показать">
                            </div>
                        </form>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Раннее добавленные</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        {% for last_added_product in last_added_products %}
                                            <a href="{% url 'product_detail' slug=last_added_product.slug %}"
                                               class="latest-product__item">
                                                <div class="latest-product__item__pic">
                                                    <img src="{{ MEDIA_URL }}{{ last_added_product.image.url }}"
                                                         alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6>{{ last_added_product.name }}</h6>
                                                    {% if last_added_product.is_sale %}
                                                        <h5 style="text-decoration: line-through; color: #dd2222; font-size: 16px;">
                                                            ₽ {{ last_added_product.price }}</h5>
                                                        <h5>₽ {{ last_added_product.sale_price }}</h5>
                                                    {% else %}
                                                        <h5>₽ {{ last_added_product.price }}</h5>
                                                    {% endif %}
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Распродажа</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for product in products_with_sale %}
                                    <div class="col-lg-4">
                                        <div class="product__discount__item">
                                            <div class="product__discount__item__pic set-bg"
                                                 data-setbg="{{ MEDIA_URL }}{{ product.image.url }}">
                                                <div class="product__discount__percent">{{ product|sale_value }}</div>
                                            </div>
                                            <div class="product__discount__item__text">
                                                <span>{{ product.category.name }}</span>
                                                <h5>
                                                    <a href="{% url 'product_detail' slug=product.slug %}">{{ product.name }}</a>
                                                </h5>
                                                <div class="product__item__price">₽{{ product.sale_price }}
                                                    <span>₽{{ product.price }}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <div class="filter__found" style="text-align: right">
                                    <h6><span>{{ find_products_count }}</span> Позиций найдено</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in page.object_list %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg"
                                         data-setbg="{{ MEDIA_URL }}{{ product.image.url }}">
                                    </div>
                                    <div class="product__item__text">
                                        <h6>
                                            <a href="{% url 'product_detail' slug=product.slug %}">{{ product.name }}</a>
                                        </h6>
                                        {% if product.is_sale %}
                                            <h5 style="text-decoration: line-through; color: #dd2222; font-size: 16px;">
                                                ₽ {{ product.price }}</h5>
                                            <h5>₽ {{ product.sale_price }}</h5>
                                        {% else %}
                                            <h5>₽ {{ product.price }}</h5>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="product__pagination">
                        {% if page.has_previous %}
                            <a href="?page={{ page.previous_page_number }}"><i class="fa fa-long-arrow-left"></i></a>
                        {% endif %}

                        {% for p in page.paginator.page_range %}
                            <a href="?page={{ p }}">{{ p }}</a>
                        {% endfor %}

                        {% if page.has_next %}
                            <a href="?page={{ page.next_page_number }}"><i class="fa fa-long-arrow-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
