{% extends 'base/base.html' %}

{% block content %}

    <h3>Аккаунт: {{ account.user.username }}</h3>
    <img src="{{ MEDIA_URL }}{{ account.image.url }}">
    <p>Имя: {{ account.first_name }}</p>
    <p>Фамилия: {{ account.last_name }}</p>
    <p>Почта: {{ account.user.email }}</p>

    <a href="{% url 'send_reset_mail' %}">Сброс пароля</a>
    <a href="{% url 'logout' %}">Выйти из аккаунта</a>
{% endblock %}