{% extends 'base/base.html' %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <input type="password" name="password1">
        <input type="password" name="password2">
        <button type="submit">Сбросить пароль</button>
    </form>
{% endblock %}