{% extends 'base/base.html' %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <h2>Сброс пароля</h2>
        <input type="email" name="email" placeholder="Введите email">
        <button type="submit">Сбросить пароль</button>
    </form>
{% endblock %}