{% extends 'base/base.html' %}


{% block content %}
    <form action="" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; width: 400px; margin: 0 auto; text-align: center">
    <h3 style="margin-bottom: 20px;">Регистрация</h3>
        {% csrf_token %}
        <input type="text" name="username" placeholder="Имя пользователя">
        <input type="text" name="first_name" placeholder="Имя">
        <input type="text" name="last_name" placeholder="Фамилия">
        <input type="email" name="email" placeholder="Почта">
        <input type="password" name="password1" placeholder="Пароль">
        <input type="password" name="password2" placeholder="Повторите пароль">
        <label for="image">Изображение для профеля</label>
        <input type="file" name="image">
        <input type="submit" value="Зарегестрироваться">
    </form>
{% endblock %}