{% extends 'base/base.html' %}


{% block content %}
    <form action="" method="post" style="display: flex; flex-direction: column; width: 400px; margin: 0 auto; text-align: center">
    <h3 style="margin-bottom: 20px;">Вход в аккаунт</h3>
        {% csrf_token %}
        <input type="text" name="username" placeholder="Имя пользователя">
        <input type="password" name="password" placeholder="Пароль">
        <input type="submit" value="Войти">
    </form>
    <a href="{% url 'send_reset_mail' %}">Забыли пароль?</a>
{% endblock %}