<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="{% url logo.url %}"><img src="{{ MEDIA_URL }}{{ logo.image.url }}"
                                                          alt="{{ logo.alt_text }}"></a>
                    </div>
                    <ul>
                        <li>Адрес: {{ info.address }}</li>
                        <li>Телефон: {{ info.phone }}</li>
                        <li>Почта: {{ info.email }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Навигация</h6>
                    <ul class="row">
                        {% for menu_item in menu_items %}
                            <li class="col-lg-6"><a href="{% url menu_item.url %}">{{ menu_item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Мы в соц. сетях</h6>
                    <div class="footer__widget__social">
                        {% for social_item in social_items %}
                            <a href="{{ social_item.link }}"><img src="{{ MEDIA_URL }}{{ social_item.icon.url }}"></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
