{% load  menu_filter %}

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url logo.url %}"><img src="{{ MEDIA_URL }}{{ logo.image.url }}"
                                                      alt="{{ logo.alt_text }}"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul style="text-align: center">
                        {% for item in items %}
                            {% if not item.parent %}
                                <li>
                                    <a href="{% url item.url %}">{{ item.name }}</a>
                                    {% if item|get_children|length > 0 %}
                                        <ul class="header__menu__dropdown">
                                            {% for item in item|get_children %}
                                                <li><a href="{% url item.url %}">{{ item.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    {% if user.is_authenticated %}
                        <ul>
                            <li><a href="{% url 'favorite_products' %}"><i class="fa fa-heart"></i> <span>{{ favorite_products_count }}</span></a></li>
                            <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i>
                                <span>{{ cart.cart_items.all|length }}</span></a>
                            </li>
                            <li><a href="#"><a href="{% url 'account' %}"><i class="fa fa-user"></i> {{ user.username }}
                            </a></li>
                        </ul>
                    {% else %}
                        <span style="display: flex; align-items: center; justify-content: space-between">
                                    <a href={% url 'singin' %} style="padding-right: 10px">
                                        <i class="fa fa-user"></i> Войти</a>
                            или
                                    <a href={% url 'singup' %}  style="padding-left: 10px"> Регистрация</a>
                </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>